{% extends "base.html.twig" %}

{% block body %}


{# ADD ARTICLES #}
{% include "shopList/addIngredientsModal.html.twig" %}

{# MAIN TITLE #}
<div class="main-title-container">
    <h1 class="main-title">Shopping</h1>
</div>

<hr class="hr">

<section class="shopping-list-section">
    {% for key, shoplist in shoppingList %}
    <ul class="a-container">
        <div class="main-title-container shoplistTitle">
            <h2 class="main-title-shop-list">
                {{ shoplist.description }}
            </h2>
        </div>
        <li class="a-items">
            <input type="radio" name="ac" id="a{{ key }}" class="hidden-radio" />
            <div class="control">
                <label for="a{{ key }}">
                    <i class="fa fa-eye fa-2x"></i>
                </label>
                <a href="#" class="add-article">
                    <input type="hidden" value="{{ shoplist.id }}" class="hidden-shoplist-id">
                    <i class="fa fa-cart-plus fa-2x"></i>
                </a>
                <a href="{{ path('shopping_list_delete', {"id":shoplist.id}) }}" onclick="return confirm('Supprimer la liste ?')">
                    <i class="fa fa-trash fa-2x"></i>
                </a>
            </div>
            <div class="a-content">
                <input type="hidden" data-value="{{ shoplist.id }}" class="hidden-shoplist-id">
                <ul>
                    {% for article in shoplist.articles %}
                    <li>
                        <div class="articles-container">
                            <div class="article-content">
                                {% apply spaceless %}{% if article.unit and "unité" != article.unit %}
                                {{ article.name|capitalize }} : <span class="amount-value">{{ article.amount }}</span>
                                {{ article.unit }}
                                {% else %}
                                {{ article.name|capitalize }} : <span class="amount-value">{{ article.amount }}</span>
                                {% endif %}{% endapply %}</div>
                            <div class="control-articles">
                                <a href="#" class="increase-amount">
                                    <input type="hidden" data-value="{{ article.id }}" class="hidden-article-id">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a href="#" class="decrease-amount">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </div>
                        </div>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
    {% endfor %}
</section>
{% endblock %}