<div class="filters-container">

    <div class="container">
        <div class="filters">

            {# Menus #}
            <h2>Menu</h2>
            <form action="{{ path('recipe_list') }}" class="filters-form" method="POST">
            <select name="filter-recipies-menu" id="filter-recipies-menu">
                <option value="">--Choisissez un type de plat--</option>
                {% for menu in menus %}
                <option value="{{ menu }}" data-menu="{{ menu.id }}">{{ menu }}</option>
                {% endfor %}
            </select>

            <hr class="hr">

            {# Categories #}
            <h2>Catégorie</h2>
            <select name="filter-recipies-category" id="filter-recipies-category">
                <option value="">--Choisissez une catégorie--</option>
                {% for category in categories %}
                <option value="{{ category }}" data-category="{{ category.id }}">{{ category }}
                </option>
                {% endfor %}
            </select>

            <br><br>

            <button type="submit" id="submit-form-filters" class="button-save">Filtrer</button>
            <br>
            <br>
            {# <button type="button" class="button-save select-all" />
            Réinitialiser
            </button> #}

            </form>
        </div>
    </div>