{# {% for category in categories %} 
    {{ category.name }}
{% endfor %}
 #}

<div class="filters-container">
    <a href="#" class="close-modal-btn">&times;</a>

    <form action="#" id="form-filters" method="GET">
        {# Menus #}
        <div class="filters">
            {% for menu in menus %}
                <input type="checkbox" name="menu" value="{{ menu }}" data-menu="{{ menu }}">
                {{ menu }}
            {% endfor %}
        </div>

        {# Categories #}
        <div class="filters">
            {% for category in categories %}
                <input type="checkbox" name="category" value="{{ category }}">
                {{ category }}
            {% endfor %}
        </div>

        {# Tags #}
        <div class="filters">
            {% for tag in tags %}
                <input type="checkbox" name="tags" value="{{ tag }}">
                {{ tag }}
            {% endfor %}
        </div>

        <button type="submit" id="submit-form-filters">Filtrer</button>

    </form>




</div>