{% extends "base.html.twig" %}

{% block body %}

<div class="create-mealplan-recipe-form">

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    {# Recipies #}
    <ul class="meals" data-prototype="{{ form_widget(form.meals.vars.prototype)|e('html_attr') }}">
        {% for meal in form.meals %}
        <li>{{ form_row(meal.name) }}</li>
        <li>{{ form_widget(meal.date, {'html5':false } ) }}</li>
        {% endfor %}
    </ul>

    <div class="col">
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock  %}