{% extends "base.html.twig" %}

{% block body %}

    <div class="create-mealplan-recipe-form">

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    {# Recipies #}
    <ul class="meals" data-prototype="{{ form_widget(form.recipies.vars.prototype)|e('html_attr') }}">
        {% for recipe in form.recipies %}
            <li>{{ form_row(recipe.name) }}</li>
            <li>{{ form_widget(form.date, {'html5':false } ) }}</li>
        {% endfor %}
    </ul>

    <div class="col">
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock  %}

