{% extends "base.html.twig" %}

{% block body %}

{{form(form)}}



<div class="filters-container">

    {# Menus #}
    <div class="container">
        <div class="filters">
            <h2>Menu</h2>
            {% for menu in menus %}
            <input type="checkbox" id="input-recipe-menu" name="menu" value="{{ menu }}" data-menu="{{ menu }}">
            <label for="input-recipe-menu" class="filters-label">
                <span>{{ menu }}</span>
            </label>
            {% endfor %}
        </div>

        <hr class="hr-white">

        {# Categories #}
        <div class="filters">
            <h2>Préférences</h2>
            {% for category in categories %}
            <input type="checkbox" id="input-recipe-category" name="category" value="{{ category }}"
                data-category="{{ category }}">
            <label for="input-recipe-menu" id="input-recipe-categpry" class="filters-label">
                <span>{{ category }}</span>
            </label>
            {% endfor %}
        </div>

        <hr class="hr-white">

        {# Tags #}
        <div class="filters">
            <h2>Tags</h2>
            {% for tag in tags %}
            <input type="checkbox" name="tags" value="{{ tag }}" data-tag="{{ tag }}">
            {{ tag }}
            {% endfor %}
        </div>

        <button type="button" id="submit-form-filters" class="button-save">Ok</button>
        <br>
        <button type="button" class="select-all" />
        Réinitialiser
        </button>

    </div>
</div>






{% endblock %}