{% extends "base.html.twig" %}

{% block body %}
<main>
  {% for recipe in recipies %}
  <div class="card mb-12 m-4">
    <div class="row no-gutters container-shadow">
      <div class="col-md-4">
        <!--***************************PHOTO****************************-->

        <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
          {% if recipe.recipePhoto %}
          <img src="{{ asset('uploads/' ~ recipe.recipePhoto) }}" alt="recipe-img"
            class="card-img-top img-result-search">
          {% else %}
          <img src="{{ asset('assets/images/empty-plate.jpeg') }}" alt="recipe-img"
            class="card-img-top img-result-search">
          {% endif %}
        </a>

        <!--***************************INFOS****************************-->
      </div>
      <div class="col-md-3">
        <h5 class="card-title-view">{{ recipe.name }}</h5>
        <div class="recipe-resume">
          <i class="fa fa-user orange-icon"></i>
          {{ recipe.person }}

          {% if recipe.person > 1 %}
          personnes
          {% else %}
          personne
          {% endif %}

          <br>

          <i class="fas fa-temperature-high orange-icon"></i>
          {{ recipe.timePrepa|date("H\\hi") }} min
          <br>

          <i class="fas fa-clock orange-icon"></i>
          {{ recipe.timeCook|date("H\\hi\\") }} min
          <br>
          <br>
          <br>

          <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
            <button class="button-save">
              Voir la recette
            </button>
          </a>
        </div>
      </div>

      {# INGREDIENTS #}
      <div class="col-md-5">
        <div class="card-body">
          <div class="scrollable-auto">
            <h6>Ingrédients</h6>
            <ul>
              {% for ingredient in recipe.recipeIngredients %}
              {% if ingredient.name in userRequestIngr %}

              <li class="available">
                {{ ingredient }} <i class="fas fa-check available"></i>
              </li>
              {% else %}
              <li class="unvailable">
                {{ ingredient }} <i class="fas fa-times unvailable"></i>
              </li>
              {% endif %}

              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


</main>
{% endblock %}