{% if app.user and favs is defined %}

<div class="card text-center card-recipe-list">

    <div class="button-add {% for fav in favs %}{% if fav is not empty and fav.recipeId == recipe.id %} isFav {% endif %}{% endfor %}"
        data-id="{{recipe.id}}"><span>
            &hearts;
        </span>
    </div>

    {% elseif app.user and favs is not defined %}
    <div class="card text-center fav-recipe-list">
        <div class="removeFav" data-id="{{recipe.id}}"><span>
                &cross;
            </span>
        </div>

        {% else %}

        <div class="card text-center card-recipe-list">
            {% endif %}

            <!--***************************PHOTO****************************-->
            <div class="img-list-container">
                <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
                    {% if recipe.recipePhoto %}
                    <img src="{{ asset('uploads/' ~ recipe.recipePhoto) }}" alt="recipe-img"
                        class="card-img-top img-recipe-list">
                    {% else %}
                    <img src="{{ asset('assets/images/empty-plate.jpeg') }}" alt="recipe-img"
                        class="card-img-top img-recipe-list">
                    {% endif %}
                </a>
            </div>

            <!--***************************BODY****************************-->
            <div class="card-body" data-menu="{{ recipe.recipeMenu }}" data-category="{{ recipe.recipeCategory }}">
                <h4 class="card-title"> <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
                        {{ recipe.name }}
                    </a></h4>
                <div class="card-text">

                    {# Summary #}
                    <div class="recipe-summary">
                        <table>
                            <thead>
                                <tr>
                                    <th><i class="fas fa-user orange-icon"></i></th>
                                    <th><i class="fas fa-clock orange-icon"></i></th>
                                    <th><i class="fas fa-temperature-high orange-icon"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ recipe.person }}</td>
                                    <td>
                                        {% if recipe.timePrepa %}
                                        {{ recipe.timePrepa|date('H:i') }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if recipe.timeCook %}
                                        {{ recipe.timeCook|date('H:i') }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--***************************INFOS****************************-->
                <div class="tab-content">
                    <div class="tab-pane" id="time-tab" role="tabpanel" aria-labelledby="time-tab">
                        <i class="fa fa-user"></i>
                        {{ recipe.person }}

                        {% if recipe.person > 1 %}
                        personnes
                        {% else %}
                        personne
                        {% endif %}

                        <br>

                        <i class="fas fa-temperature-high"></i>
                        {{ recipe.timePrepa|date("H\\hi") }} min
                        <br>

                        <i class="fas fa-clock"></i>
                        {{ recipe.timeCook|date("H\\hi\\") }} min
                    </div>
                </div>

                <br>

                <button class="button-icon filters-menu" type="button" data-toggle="collapse"
                    data-target=".infos-nav{{i}}" aria-expanded="false" aria-controls="#pouet{{i}}">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </button>

                <br>
                <br>


                <!--***************************ADD TO SHOPPING LIST****************************-->

                <div class="collapse infos-nav{{i}}" id="pouet{{i}}">
                    <div class="add-to-shop-container">

                        <a class="button add-to-shoplist" data-toggle="collapse" href=".modal-add-to-shop{{i}}"
                            role="button" aria-expanded="false" aria-controls="modal-add-to-shop{{i}}">
                            <input type="hidden" data-value="{{ recipe.id }}">
                            <i class="fa fa-cart-arrow-down fa-2x"></i>
                        </a>

                        <a href="#" class="button shoplist-create">
                            <input type="hidden" data-value="{{ recipe.id }}">
                            <i class="fa fa-cart-plus fa-2x"></i>
                        </a>

                        {% if is_granted('edit', recipe) %}
                        <a href="{{ path('recipe_update',{'id': recipe.id}) }}" class="button">
                            <i class="fa fa-cog fa-2x"></i>
                        </a>
                        <a href="{{ path('recipe_delete',{'id': recipe.id}) }}" class="button"
                            onclick="return confirm('Supprimer cette recette ?')">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse modal-add-to-shop{{i}}">
                            {% include "recipe/addtoshoplist.html.twig" %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>