<section class="add-articles-section">

    <div class="title">
        <h6>Ajouter à une liste de course</h6>
    </div>
    <div class="left">
        <select name="add-shop-select" class="add-shop-select{{recipe.id}}" data-currentId="{{recipe.id}}">
            <option value="">--Choisissez une liste de courses--</option>
            {% for shoplist in shopLists %}
            <option value="{{ shoplist.description }}" data-value="{{ shoplist.id }}">
                {{ shoplist.description }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="right">
        <a href="#" class="circle-btn submit-add-toshoplist">
            <i class="fa fa-check fa-2x"></i>
        </a>
    </div>
</section>