{% extends "base.html.twig" %} 

{% block body %}

<h5 class="title-create-recipe">
  Créer une recette
</h5>

<hr class="hr" />

{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}


{# Steps #}
<ul class="steps"
  data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
  {# iterate over each existing step and render its only field: name #} 
  {% for step in form.recipeSteps %}
    <li>{{ form_row(step.text) }}</li>
    <li>{{ form_row(step.photo) }}</li>
  {% endfor %}
</ul>

{# Ingredients #}
<ul class="ingredients"
  data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
  {# iterate over each existing step and render its only field: name #} 
  {% for ingredient in form.ingredients %}
    <li>{{ form_row(ingredient.name) }}</li>
    <li>{{ form_row(ingredient.quantity) }}</li>
    <li>{{ form_row(ingredient.unit) }}</li>
  {% endfor %}
</ul>


<div class="col">
  {{ form_widget(form.save) }}
  {{ form_end(form) }}
</div>
{% endblock %}
