{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
			<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
				{# MAIN TITLE #}
				<div class="main-main-title">
					<h1 class="main-title-recipe">Ajouter une recette</h1>
				</div>

				{{ form_start(form, {'attr': {'id': 'msform'}}) }}
				<!-- progressbar -->
				<ul id="progressbar">
					<li class="active" id="account"></li>
					<li id="description"></li>
					<li id="step"></li>
					<li id="ingredients"></li>
					<li id="shopping-card"></li>
					<li id="filter"></li>
					<li id="guests"></li>
					<li id="clock"></li>
					<li id="picture"></li>
					<li id="tags"></li>
					<li id="confirm"></li>
				</ul>
				<div class="progress">
					<div class="background-progress-bar"></div>
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
						aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>

				<br>

				<!-- fieldsets -->

				{# Title #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Titre</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 1 - 10</h2>
							</div>
						</div> <label class="fieldlabels">{{ form_row(form.name) }}</label>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant">
				</fieldset>

				{# Description #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Description</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 2 - 10</h2>
							</div>
						</div>
						{{ form_row(form.description) }}
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Steps #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Étapes</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 3 - 10</h2>
							</div>
						</div>
						<div class="row-steps">
							<div class="steps-container">
								<ul class="steps"
									data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
									{# iterate over each existing step and render its only field: name #}
									{% for key, step in form.recipeSteps %}
									<li class="li-step">
										{{ form_row(step.text) }}
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="steps-counter">
								<span class="step-counter">
									1
								</span>
								<span class="step-counter-text">
									étape
								</span>
							</div>

						</div>

					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Ingredients #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Ingrédients</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 4 - 10</h2>
							</div>
						</div>
						<div class="row-ingredients">
							<div class="steps-container">
								<ul class="ingredients"
									data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype)|e('html_attr') }}">

									{# iterate over each existing step and render its only field: name #}
									{% for ingredient in form.recipeIngredients %}
									<li class="li-ingredient">
										{{ form_row(ingredient.name) }}

										{{ form_row(ingredient.amount, {'type':'number', 'lang': app.request.locale}) }}

										{{ form_row(ingredient.unit) }}
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="row-ingredients-text">
								<ul row-text-ul></ul>
							</div>
						</div>

					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Menu #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Menu</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 5 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							<div class="recipe-add-container">
								<div class="recipe-menu">
									<span>
										Choisissez parmi la liste ci-dessous un type de plat
									</span>
									{{ form_row(form.recipeMenu) }}
								</div>
								<div class="recipe-menu-selected"></div>
							</div>
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Category #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Catégorie</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 6 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							<div class="recipe-add-container">
								<div class="recipe-category">
									<span>
										Choisissez parmi la liste ci-dessous un type de plat
									</span>
									{{ form_row(form.recipeCategory) }}
								</div>
								<div class="recipe-category-selected"></div>
							</div>
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# How Many Guests #}
				<fieldset>
					<div class="form-card">
						<div class="row-step">
							<div class="col-7">
								<h2 class="fs-title">Convives</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 7 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							<div class="recipe-add-container">
								<div class="recipe-guests">
									<div class="recipe-guest-range">
										{{ form_row(form.person) }}
									</div>
									<div class="recipe-guests-selected"></div>
								</div>
							</div>
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Times #}
				<fieldset>
					<div class="form-card">
						<div class="row">
							<div class="col-7">
								<h2 class="fs-title">Temps</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 7 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							{{ form_widget(form.timeCook) }}
							{{ form_widget(form.timePrepa) }}
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Images #}
				<fieldset>
					<div class="form-card">
						<div class="row">
							<div class="col-7">
								<h2 class="fs-title">Image</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 8 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							<div class="recipe-create-images">
								{{ form_row(form.recipePhoto) }}
							</div>
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				{# Tags #}
				<fieldset>
					<div class="form-card">
						<div class="row">
							<div class="col-7">
								<h2 class="fs-title">Tags</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 9 - 10</h2>
							</div>
						</div>
						<div class="row-step">
							<div class="recipe-tags">
								{{ form_row(form.tags) }}
							</div>
						</div>
					</div>
					<input type="button" name="next" class="next action-button" value="Suivant" /> <input type="button"
						name="previous" class="previous action-button-previous" value="Précédent" />
				</fieldset>

				<fieldset>
					<div class="form-card">
						<div class="row">
							<div class="col-7">
								<h2 class="fs-title">Terminé !</h2>
							</div>
							<div class="col-5">
								<h2 class="steps-title">Étape 10 - 10</h2>
							</div>
							<div class="row-step">
								{{ form_widget(form.save) }}
							</div>
						</div> <br><br>


						<h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
						<div class="row justify-content-center">
							<div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
						</div> <br><br>
						<div class="row justify-content-center">
							<div class="col-7 text-center">
								<h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
							</div>
						</div>
					</div>
				</fieldset>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>












{% endblock %}