{% extends "base.html.twig" %} 

{% block body %}

<h5 class="title-create-recipe">
  Modifier la recette
</h5>

<hr class="hr" />

{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}

{# Steps #}
<ul class="steps"
  data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
  {# iterate over each existing step and render its only field: name #} 
  {% for step in form.recipeSteps %}
    <li class="li-step">{{ form_row(step.text) }}</li>
  {% endfor %}
</ul>

{# Ingredients #}
<ul class="ingredients"
  data-prototype="{{ form_widget(form.recipeIngredients.vars.prototype)|e('html_attr') }}">
  {# iterate over each existing step and render its only field: name #} 
  {% for ingredient in form.recipeIngredients %}
    <li>{{ form_row(ingredient.name) }}</li>
    <li>{{ form_row(ingredient.amount) }}</li>
    <li>{{ form_row(ingredient.unit) }}</li>
    <li class="li-ingredient">*</li>
  {% endfor %}
</ul>

{# Type/Menu #}
<div class="recipe-menu">
    {{ form_row(form.recipeMenu) }}
</div>

{# Category #}
<div class="recipe-category">
    {{ form_row(form.recipeCategory) }}
</div>

{# How Many Guests #}
<div class="recipe-guest-range">
    {{ form_row(form.person) }}
</div>

{# Times #}
{{ form_widget(form.timeCook) }}
{{ form_widget(form.timePrepa) }}

{# Tags #}
<div class="recipe-tags">
    {{ form_row(form.tags) }}
</div>


<div class="col">
  {{ form_widget(form.save) }}
  {{ form_end(form) }}
</div>
{% endblock %}

