{% extends "base.html.twig" %}

{% block body %}

<!--***************************FILTERS****************************-->
{% include "modals/_filters.html.twig" %}

<section class="recipies-container">

    {% for recipe in recipies %}

        <div class="recipe box">
            <a href="{{ path('recipe_view', {'id': recipe.id}) }}">

                <div class="container-img">
                    {% if recipe.recipePhoto %}
                    <img src="{{ asset('uploads/' ~ recipe.recipePhoto) }}" alt="recipe-img" class="recipe-img">
                    {% else %}
                    <img src="{{ asset('assets/images/embossed-diamond.png') }}" alt="recipe-img" class="recipe-img">
                    {% endif %}
                </div>
            </a>

            <div class="container-footer">

                <div class="container-title">
                    <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
                        <h3>{{ recipe.name }}</h3>
                        <input type="hidden" class='filter-data-recipe'
                               data-menu="{{ recipe.recipeMenu }}">
                    </a>
                </div>

                <hr class="hr">

                <div class="container-summary">

                    <span>
                        <i class="fa fa-user"></i>
                        {{ recipe.person }}

                        {% if recipe.person > 1 %}
                        personnes
                        {% else %}
                        personne
                        {% endif %}
                    </span>

                    <br>

                    <i class="fas fa-clock"></i>
                    Préparation : {{ recipe.timePrepa|date("H\\hi") }} min
                    <br>

                    <i class="fas fa-clock"></i>
                    Cuisson : {{ recipe.timeCook|date("H\\hi\\") }} min
                </div>

                <hr class="hr">

                <div class="control">

                    {% if is_granted('edit', recipe) %}
                    <a href="{{ path('recipe_update',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                    {% endif %}

                    <a href="{{ path('shopping_list_create',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-cart-plus fa-2x"></i>
                    </a>
                    <a href="{{ path('shopping_list_add',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-cart-arrow-down fa-2x"></i>
                    </a>
                    {% if is_granted('edit', recipe) %}
                    <a href="{{ path('recipe_delete',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

</section>

{% endblock %}