{% extends "base.html.twig" %}

{% block body %}
<section class="recipies-main-container">

    <!--***************************FILTERS****************************-->
    <div class="filters-sliders">
        <i class="fa fa-sliders-h fa-2x"></i>
    </div>
    {% include "modals/_filters.html.twig" %}

      <!--***************************ADD TO SHOPPING LIST****************************-->
    {% include "recipe/addtoshoplist.html.twig" %}


    <!--***************************RECIPIES****************************-->
    <div class="recipies-container">

        {% for recipe in recipies %}
        <div class="recipe box" data-menu="{{ recipe.recipeMenu }}" data-category="{{ recipe.recipeCategory }}">
            <a href="{{ path('recipe_view', {'id': recipe.id}) }}">

                <div class="container-img">
                    {% if recipe.recipePhoto %}
                    <img src="{{ asset('uploads/' ~ recipe.recipePhoto) }}" alt="recipe-img" class="recipe-img">
                    {% else %}
                    <img src="{{ asset('assets/images/embossed-diamond.png') }}" alt="recipe-img" class="recipe-img">
                    {% endif %}
                </div>
            </a>

            <div class="container-footer">
                <div class="container-title">
                    <a href="{{ path('recipe_view', {'id': recipe.id}) }}">
                        <h3>{{ recipe.name }}</h3>
                    </a>
                </div>

                <hr class="hr">

                <div class="container-summary">
                    <span>
                        <i class="fa fa-user"></i>
                        {{ recipe.person }}

                        {% if recipe.person > 1 %}
                        personnes
                        {% else %}
                        personne
                        {% endif %}
                    </span>

                    <br>

                    <i class="fas fa-clock"></i>
                    Préparation : {{ recipe.timePrepa|date("H\\hi") }} min
                    <br>

                    <i class="fas fa-clock"></i>
                    Cuisson : {{ recipe.timeCook|date("H\\hi\\") }} min
                </div>

                <hr class="hr">

                <div class="control-recipe">

                    {% if is_granted('edit', recipe) %}
                    <a href="{{ path('recipe_update',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                    {% endif %}

                    <a href="#" class="button shoplist-create">
                        <input type="hidden" data-value="{{ recipe.id }}">
                        <i class="fa fa-cart-plus fa-2x"></i>
                    </a>
                    <a href="#" class="button add-to-shoplist">
                        <input type="hidden" data-value="{{ recipe.id }}">
                        <i class="fa fa-cart-arrow-down fa-2x"></i>
                    </a>
                    {% if is_granted('edit', recipe) %}
                    <a href="{{ path('recipe_delete',{'id': recipe.id}) }}" class="button">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <!--***************************TITLE****************************-->
    <div class="main-title-container">
        <h1 class="main-title-vertical">Recettes</h1>
    </div>

</section>

{% endblock %}