{% extends "base.html.twig" %}

{% block body %}

{# Title #}
{% block title %}
<h1>
    {{ recipe.name }} - 
</h1>
{% endblock %}

<a href="{{ path('recipe_update',{'id': recipe.id}) }}" class="button">
    <span class="backto">Editer</span>
</a>


{# Picture #}
{% if recipe.photo %}
<div class="photo-recipe-view">
    {{ recipe.photo }}
</div>
{% endif %}

{# Summary #}
<div class="recipe-summary">
    <table>
        <thead>
            <tr>
                <th>Portions</th>
                <th>Temps de cuisson</th>
                <th>Temps de préparation</th>
            </tr>
        </thead>
        <tbody>
            <tr>    
                <td>{{ recipe.person }} personne(s)</td>
                <td>
                    {% if recipe.timeCook %}
                        {% if hoursCook > 0 %}
                            {{ hoursCook }} h
                        {% endif %}
                        {{ minutesCook }} min
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if recipe.timePrepa %}
                        {% if hoursPrepa > 0 %}
                            {{ hoursPrepa }} h
                        {% endif %}
                        {{ minutesPrepa }} min
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{# Description #}
<div class="recipe-view-description">
    {{ recipe.description }}
</div>

{# Steps #}
<div class="recipe-view-steps">
    <ol>
        {% for step in recipe.recipesteps %}
        <li>
            {{ step.text }}
        </li>
        {% endfor %}
    </ol>
</div>


{% endblock %}