{% extends "base.html.twig" %}

{% block body %}

{# Title #}
<h2>{{ recipe.name }}</h2>
<span>

</span>

{% if is_granted('edit', recipe) %}
    <a href="{{ path('recipe_update',{'id': recipe.id}) }}" class="button">
        <span class="edit">Editer</span>
    </a>
    <a href="{{ path('recipe_delete',{'id': recipe.id}) }}" class="button">
        <span class="delete">Supprimer</span>
    </a>
{% endif %}

<a href="{{ path('shopping_list_create',{'id': recipe.id}) }}" class="button">
    <span class="create">Générer une liste de courses</span>
</a>

<a href="{{ path('shopping_list_add',{'id': recipe.id}) }}" class="button">
    <span class="create">Ajouter à une liste de courses</span>
</a>

{# Picture #}
<div class="photo-recipe-view">
    <img src="{{ asset('uploads/' ~ recipe.recipePhoto) }}" alt="">
</div>

{# Summary #}
<div class="recipe-summary">
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Portions</th>
                <th>Temps de cuisson</th>
                <th>Temps de préparation</th>
            </tr>
        </thead>
        <tbody>
            <tr>    
                <td>
                    {{ recipe.recipeMenu }}
                </td>
                <td>
                    {{ recipe.recipeCategory }}
                </td>
                <td>{{ recipe.person }} personne(s)</td>
                <td>
                    {% if recipe.timeCook %}
                        {% if hoursCook > 0 %}
                            {{ hoursCook }} h
                        {% endif %}
                        {% if minutesCook > 0 %}
                            {{ minutesCook }} min
                        {% endif %}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if recipe.timePrepa %}
                        {% if hoursPrepa > 0 %}
                            {{ hoursPrepa }} h
                        {% endif %}
                        {% if minutesPrepa > 0 %}
                            {{ minutesPrepa }} min
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{# Tags #}
<div class="tags">
    {% for tag in recipe.tags %}
        #{{ tag.name }} 
    {% endfor %}
</div>

{# Ingredients #}
<div class="recipe-ingredients">
    <h2>
        Ingrédients
    </h2>
    <ul>
        {% for ingredient in recipe.Recipeingredients %}
            <li>
                {{ ingredient.name }}
            </li>
        {% endfor %}
    </ul>
</div>

{# Description #}
<div class="recipe-view-description">
    {{ recipe.description }}
</div>

{# Steps #}
<div class="recipe-view-steps">
    <h2>Etapes</h2>
    <ol>
        {% for step in recipe.recipesteps %}
        <li>
            {{ step.text }}
        </li>
        {% endfor %}
    </ol>
</div>


{% endblock %}