<nav class="menu">

    {#//////////////////////////////////////////////////

TOP MENU BUTTONS

//////////////////////////////////////////////////////#}
    <div class="nav-top-container">

        <!--***************************RECIPIES****************************-->
        <button class="button-icon" type="button" data-toggle="collapse" data-target="#recipies-nav"
            aria-expanded="false" aria-controls="recipies-nav">
            <i class="fas fa-book fa-2x"></i>
        </button>
        <!--***************************SHOPLIST****************************-->
        {% if app.user %}
        <button class="button-icon" type="button" data-toggle="collapse" data-target="#shoplist-nav"
            aria-expanded="false" aria-controls="shoplist-nav">
            <i class="fas fa-shopping-cart fa-2x"></i>
        </button>
        {% endif %}
        <!--***************************FILTERS****************************-->
        {% if app.request.get('_route') matches '/recipe_list/' %}
        <button class="button-icon filters-menu" type="button" data-toggle="collapse" data-target="#filters-nav"
            aria-expanded="false" aria-controls="filters-nav">
            <i class="fa fa-sliders fa-2x"></i>
        </button>
        {% endif %}
        <!--***************************USER****************************-->
        <button class="button-icon" type="button" data-toggle="collapse" data-target="#user-nav" aria-expanded="false"
            aria-controls="user-nav">
            <i class="fas fa-user fa-2x"></i>
        </button>
        <!--***************************SEARCH****************************-->
        <div class="search">
            {{ render(controller('App\\Controller\\SearchController::searchBarAction')) }}
        </div>
    </div>


    {#/////////////////////////////////////////////////

COLLAPSE

/////////////////////////////////////////////////////#}

    <!--***************************RECIPIES****************************-->
    <div class="row sub-nav">
        <div class="col">
            <div class="collapse" id="recipies-nav">
                <div class="card card-body supercharged-menu">
                    <ul>
                        <li>
                            <a href="{{ path('recipe_list') }}">Explorer les recettes</a>
                            {% if app.user %}
                            <a href="{{ path('user_recipe_list', {'attr': {'id': app.user.id }} ) }}">Voir mes recettes</a>
                            <a href="{{ path('user_favs_recipe_list') }}">Voir mes favoris</a>
                            <a href="{{ path('recipe_add') }}">Ajouter une recette</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--***************************FILTERS****************************-->
    {% set matchingRoute = app.request.get('_route') %}

    {% if matchingRoute matches '/recipe_list/' or matchingRoute matches '/user_recipe_list/' or matchingRoute matches '/user_favs_recipe_list/' %}
    <div class="row sub-nav">
        <div class="col">
            <div class="collapse" id="filters-nav">
                <div class="card card-body supercharged-menu">
                    {% include "modals/_filters.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!--***************************SHOPLIST****************************-->
    <div class="row sub-nav">
        <div class="col">
            <div class="collapse" id="shoplist-nav">
                <div class="card card-body supercharged-menu">
                    <ul>
                        <li>
                            {% if app.user %}
                            <a href="{{ path('shopping_list_list')}}">Mes listes de courses</a>
                            <button type="button" class="create-new-shoplist-button " data-toggle="modal"
                                data-target="#create-shoplist-modal">
                                Créer une nouvelle liste de courses
                            </button>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--***************************MODAL SHOPLIST****************************-->
    <div class="modal fade" id="create-shoplist-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer une liste de courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center">
                    <label for="input-new-shoplist">Donnez un nom à votre liste de courses !</label>
                    <br>
                    <input type="text" class="input-new-shoplist">
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <i class="fa fa-ban fa-2x" data-dismiss="modal"></i>
                    <i class="fas fa-check fa-2x validate-new-shoplist"></i>
                </div>
            </div>
        </div>
    </div>

    <!--***************************USER****************************-->
    <div class="row sub-nav">
        <div class="col">
            <div class="collapse" id="user-nav">
                <div class="card card-body supercharged-menu">
                    {% if app.user %}
                    <ul>
                        <li>
                            <a href="{{ path('user_profile', {'id':app.user.id}) }}">Voir mon profil</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">Déconnexion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('login') }}">Se connecter</a>
                        </li>
                        <li>
                            <a href="{{ path('new') }}">S'inscrire</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>