<nav class="menu">
    <button class="openbtn">&#9776;</button>
    <div id="mySidepanel" class="sidepanel">
        <a href="#" class="closebtn">&times;</a>
        <ul>
            <li><a href="{{ path('homepage') }}">About</a></li>
            <li>
                <a href="{{ path('recipe_list') }}">Recettes</a>
                <a href="{{ path('recipe_add') }}">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </li>
            <li><a href="{{ path('shopping_list_list') }}">Liste de courses</a></li>
            <li>
                <a href="{{ path('meal_plan_add') }}">Planning</a>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="{{ path('search_list_by_ingredients') }}">Mon frigo</a></li>

            {% if app.user %}
                <li>
                    <a href="{{ path('logout') }}">
                        Se déconnecter
                    </a>
                </li>
            {% else %}
                <li><a href="{{ path('new') }}">S'inscrire</a></li>
                <li><a href="{{ path('login') }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


